<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lysc.admin.mapper.JiandatiMapper">

    <resultMap id="BaseResultMap" type="lysc.admin.pojo.Jiandati">
            <id property="number" column="number" jdbcType="INTEGER"/>
            <result property="question_stem" column="question_stem" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        number,question_stem,answer,
        uuid,remark
    </sql>
    <select id="selectAll" resultType="lysc.admin.pojo.Jiandati">
        select * from jiandati;
    </select>

    <select id="sel_sec" resultType="lysc.admin.pojo.Jiandati">
        select * from jiandati
        <where>
        <if test="section_uuid != null and section_uuid != ''">
            section_uuid = #{section_uuid}
        </if>
        </where>
    </select>
</mapper>
